body{
    
}
.wrapper {
    background-image: url(../img/bg.jpg);
    width: 1920px;
    height: 1080px;
    background-size: contain;
}

header {
    height: 36px;
    background-color: aqua;
}
header a {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}
ul {
    list-style-type: none;
}
header ul {
    float: right;
}
header li {
    display: inline-block;
}
.window{
    width: 560px;
    height: 613px;    
    opacity: 0.63;
}